.FirstCard {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(bottom,  hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.FirstCard h2 {
    color: var(--Light-lavender);
    font-size: 18px;
    font-weight: 500;
}

.Circle {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(bottom,  hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));

   
}

.Circle h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 5px;
    color: white;
}

.Circle p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--Light-lavender);
    
}

h1 {
    color: white;
    font-size: 1.6rem;
}

p {
    color: var(--Light-lavender);
    text-align: center;
    padding: 10px;
}